@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

.content {  
    /* width: 100%; */
}

h2 {
	text-align: center;
}

.team {
	padding: 0 10px;
	/* margin: 0; */
}

.member {
	width: 100%;
    border-radius: 10px;
    margin: 1.5em 0 0.5em;
	/* padding: 0.73em; */
	background: var(--buttonBg);
	position: relative;
	list-style: none;
	/* display: inline-block; */
	transform: scale(0.85);
	transition: var(--trans);
}

.member:nth-of-type(even) {
	text-align: right;
	background: var(--buttonBg);
}

.thumb {
	width: 70px;
	height: 70px;
	float: left;
	margin-right: 1.25em;
	background: linear-gradient(
		var(--deg),
		var(--dark) 0 70%,
		var(--bluewhite) 0% 100%
	);
	transform: rotate(-4deg);
	transition: var(--trans);
    border-radius: 10px;
    overflow: hidden;	
	margin-left: -3em;
	padding: 5px;
}

.member:nth-of-type(even) .thumb{
	--deg: 86deg;
	float: right;
	margin-left: 3.5em;
	margin-right: -3em;
	transform: rotate(4deg);
}

.thumb img {
	width: 100%;
	height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: grayscale(1);
	background: var(--dark);
}

.member:hover {
	transform: scale(0.9);
	transition: var(--trans);
	/* filter: drop-shadow(0px 10px 5px #0008); */
}

.member:hover .thumb {
	padding: 0.1em;
	transition: var(--trans);
	transform: rotate(-1deg);
	--deg: -89deg;
}

.member:nth-of-type(even):hover .thumb {
	--deg: 91deg;
}

.member:hover .thumb img {
	filter: none;
	transition: var(--trans);
}

.description {
	padding: 10px;
}

.description p {
    width: 100%;
	margin-bottom: 1em;
}

h3 {
	display: flex;
	text-align: center;
	margin: 0;
	left: 20px;
	padding: 5px;
	color: black;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid dodgerblue;
	transform-origin: left bottom;
}


.member:nth-of-type(even) h3 {
	left: inherit;
	right: 10px;
	transform-origin: right bottom;
    border: 1px solid dodgerblue;
}

.member:hover h3 {
	transition: var(--trans);
	transform: rotate(0deg);
	background: linear-gradient(180deg, whitesmoke 59%, whitesmoke 0 100%);
}

.co-funder:after {
	content: "CHAT MESSAGE";
	font-size: 0.75em;
	position: absolute;
	bottom: -10px;
	background: white;
    border: 1px solid dodgerblue;
	right: -10px;
	transform: rotate(3deg);
	padding: 0.35em 0.75em 0.5em;
    border-radius: 10px;
    color: dodgerblue;
	font-weight: bold;
}

.co-funder:nth-of-type(even):after {
	right: inherit;
	left: -10px;
	transform: rotate(-3deg);
}

.description p button {
	display: inline-block;
	margin: 0.5em 0 0 0;
	background: white;
	color: var(--dark);
	padding: 0.1em 0.5em 0.35em;
    border-radius: 10px;
    text-decoration: none;
	transition: var(--trans);
}
.description p button:hover {
    cursor: pointer;
	transition: var(--trans);
	color: white;
	background: var(--buttonBg);
	font-weight: bold;
}

.description p button img {
	float: left;
	width: 22px;
	filter: invert(1);
    border-radius: 10px;
    padding: 2px;
	background: #fff;
	margin-right: 2px;
}

@media (max-width: 600px) {
    h3{
		font-size: 15px;
		text-align: start;
		padding: 3px;
	}
}