.chat-page{
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    padding: 10px 0;
    gap: 20px;
}
.navigation{
    position: fixed;
    right: 0;
    z-index: 8888;
    display: none;
}

.navigation button {
    border: none;
    background: transparent;
    margin: 10px;
}

.chat{
    width: 100%;
    height: 100%;
}

.left-side{
    width: 100%;
}

.middle-side{
    width: 100%
}

.right-side{
    width: 100%;
}

.setting{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.setting button {
    background: transparent;
    border: none;
    font-size: 20px;
}

.setting button:hover{
    color: dodgerblue;
    cursor: pointer;
}

@media (max-width: 600px) {
    .navigation{display: block;}

    .left-side, .middle-side, .right-side {
        display: none; 
        position: absolute; 
        top: 10px; left: 0;
    }

    .setting{justify-content: start;}
}
@media (max-width: 900px) {
    .chat-page{display: block;}
    
    .navigation{ display: block;}

     .left-side, .middle-side, .right-side {
        display: none; 
        position: absolute; 
        top: 10px; left: 0;
    }

    .setting{justify-content: start;}
  }

  @media (min-width: 900px) {
    .middle-side {display: block !important;}
    .chat-page { grid-template-columns: repeat(3, 1fr); }
  }