.contact-users{
    background-color: #fff;
    box-shadow: var(--profileShadow);
    border-radius: 10px;
    padding: 10px 20px;
    height: 96vh;
    overflow: auto;
}

.contact-users .team {
    padding: 10px;
}
.contact-users .mimber h3{
    width: 100%;
}