.search-users{
    background-color: #fff;
    box-shadow: var(--profileShadow);
    border-radius: 10px;
    padding: 10px 20px;
    height: 96vh;
    overflow: auto;
}

.search-users .description p button {
    display: none;
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    padding: 20px 0;
}

.search-input-box{
    position: relative;
}

.search-input{
    width: 300px;
    padding: 8px 40px 8px 8px;
    background-color: whitesmoke;
    border-radius: 8px;
    outline: none;
    border: none;
}

.search-icon{
    position: absolute;
    top: 5px;
    background: var(--buttonBg);
    right: 4px;
    padding: 5px;
    border-radius: 8px;
    color: white;
}

.search-users > h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
}