.message-box{
    height: 96vh;
    background-color: #fff;
    box-shadow: var(--profileShadow);
    border-radius: 10px;
    display: flex;
    align-items: start;
    justify-content: center
}

.message-list{
    width: 100%;
    height: 100%;
    justify-content: end;
    justify-content: space-between;
    flex-direction: column;
}

.profile-box{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 400px; */
    background: var(--buttonBg);
    border-radius: 10px 10px 0 0;
    padding: 20px;
}

.send-input-box{
    padding: 10px;
    width: 100%;
}




.profile-content{
    padding: 0 50px; 
}

.profile-set{
    color: white;
    cursor: pointer;
}


.message-btn{
    cursor: pointer;
    background: var(--buttonBg);
    border-radius: 8px;
    color: white;
    border: none;
    padding: 15px;
}
.message-img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}

.send-message{
    overflow-y: auto;
    display: flex;
    height: 77%;
    padding: 10px;
    flex-direction: column;
    gap: 5px;
}
.messages {
    width: 50%;
    border-radius: 10px 10px 10px 0;
    background-color: rgba(128, 128, 128, 0.523);
    padding: 5px 15px;
    text-align: center;
}

.own {
    background-color: greenyellow;
    border-radius: 10px 10px 0 10px;
    margin-left: auto;
}

.message-time {
    font-weight: bold;
    font-size: 12px;
    color: white;
}

.sender-file-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message-file-input{
    display: none;
}