.message-box{
    height: 96.5vh;
    background-color: #fff;
    box-shadow: var(--profileShadow);
    border-radius: 10px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;  
}


.full-screen {
    width:  100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.903);
    position: fixed;
    object-fit: contain;
    z-index: 10000;
    top: 0;
    left: 0;
    cursor: zoom-out;
}

.message-list{
    width: 100%;
    height: 100%;
    justify-content: end;
    justify-content: space-between;
    flex-direction: column;
}

.profile-box{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--buttonBg);
    border-radius: 10px 10px 0 0;
    padding: 20px;
    border: 1px solid white;

}

.send-input-box{
    width: 100%;
    padding: 0 10px;
    background: white;
}




.profile-content{
    text-align: center;
}

.profile-set{
    color: white;
    cursor: pointer;
}


.message-btn{
    cursor: pointer;
    background: var(--buttonBg);
    border-radius: 8px;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 35px;
}
.message-img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}

.send-message{
    overflow-y: auto;
    display: flex;
    height: 77%;
    gap: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: none !important;
    padding: 10px;
    flex-direction: column;
}

.send-message h3{
    width: 370px;
    padding: 20px 30px;
    
}

.send-message h3:hover{
    background: linear-gradient(180deg, whitesmoke 59%, whitesmoke 0 100%);
}

.messages {
    width: 50%;
    border-radius: 20px 20px 20px 0;
    background-color: gainsboro;
    padding: 5px 15px;
    text-align: center;
}

.file-image {
    position: absolute;
    bottom: 60px;
    height: 200px;
    width: 200px;
}

.file-image img {
    z-index: 3;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 3px solid white;
}

.file-image button {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 20px;
    width: 20px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    background: var(--buttonBg);
}

.own {
    background-color: greenyellow;
    border-radius: 20px 20px 0 20px;
    margin-left: auto;
}

.span-box {
    position: relative;
    padding: 0 0 10px 0;
}

.message-time {
    position: absolute;
    background: white;
    padding: 0 10px;
    border-radius: 10px;
    bottom: -10px;
    right: 0px;
    font-weight: bold;
    font-size: 12px;
    color: blue ;
}

.span-box .dropdown{
    position: absolute;
    right: 0;
}


.sender-file-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message-file-input{
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background: transparent;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.dropdown-content{
    position: absolute;
    top: -10px;
    left: -140px;
    display: flex !important;
    align-items: center;
    justify-content: space-around;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1;
}

.own .dropdown-content {
    left: -320px;
}


.dropdown-content b {
    display: flex;
    gap: 5px;
    font-size: 12px;
    border-radius: 10px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown-content b:hover {
    background: var(--buttonBg);
    color: white;
}


@media (max-width: 350px) {

    .dropdown-content {
        left: -90px;
    }

    .own .dropdown-content {
        position: sticky;
    }

    .send-input-box{
        position: fixed;
        bottom: -10px;
        left: 0;
    }

	.send-message h3{
		width: 100px;
	}

    .profile-content{
        padding: 0 10px;
        text-align: center;
    }

    .send-input-box {
        position: fixed;
        bottom: -10px;
        left: 0;
        background: white;
    }
   
  }

  .wiat-result {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  @media (max-width: 350px) {
    .wiat-result h1{
        font-size: 12px;
        text-align: center;
    }
  }

@media (max-width: 600px) {
	.team {
		width: 100%;
		filter: none;
	}

    .send-message {
        filter: none;
    }

    .send-input-box{
        position: fixed;
        bottom: -10px;
        left: 0;
    }

    .own .dropdown-content {
        left: -300px;
    }

	.send-message h3{
		width: 300px;
	}

   
  }
@media (min-width: 900px) {
	.send-message {
        filter: none !important;
    }
  }
