.message-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 96vh;
    width: 100%;
    background-color: #fff;
    box-shadow: var(--profileShadow);
    border-radius: 10px;
}

.profile-box{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--buttonBg);
    border-radius: 10px 10px 0 0;
    padding: 20px;
}

.send-input-box{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%;
}

.send-input-box input {
    width: 100%;
    padding: 15px 50px;
}



.profile-content{
    padding: 0 50px;
}

.profile-set{
    color: white;
    cursor: pointer;
}


.message-btn{
    cursor: pointer;
    background: var(--buttonBg);
    border-radius: 8px;
    color: white;
    border: none;
    padding: 15px;
}
.message-img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}

.send-message{
    margin-top: 90px;
    height: 555px;
    padding: 20px;
    overflow-y: auto;
    margin-bottom: 40px;
}
.messages {
    /* position: relative; */
    margin-left: 250px;
    border-radius: 10px;
    background-color: greenyellow;
    padding: 5px 15px;
    text-align: center;
}

.message-time {
    margin-left: 340px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 12px;
}

.sender-file-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message-file-input{
    display: none;
}